/*i'm lazy and hate css, so all my shit is going in here*/


.asset-nav-list {
  ul {
    list-style: none;
    height: 60px;
    width: 100%;
    &:hover {
      background-color: $light-grey;
    }
    > li {
      @extend .clearfix;
    }
    li.thumb {
      height: 50px;
      width: 30%;
      float: left;
      padding-left: 10px;
    }
    li.asset-name {
      color: $darker-grey;
      font-size: 17px;
      padding-top: 5px;
      height: 50px;
      width: 70%;
      float: right;
    }
  }
}
#tableWrapper {
  position: relative;
  left: 245px;
  top: 90px;
}

.dataTables_scrollHead {
  background: white;
  height: 6px;
  border-radius: 3px;
  margin-top: -30px;
  display: none;

}

.dataTables_scrollBody {
  padding-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: transparent;
}


.dataTables_length select {
  background: red;
}

input.form-control.input-sm {
  //width: 500px;
}
.dataTables_filter input[type=search] {
  //width: 400px;
  display: none;
  height: 50px;
  padding: 3px 42px 3px 20px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  outline: none;
  background-size: 20px 20px;
  background-image: image-url("dashboard/Icon-SearchLightGrey@2x");
  background-repeat: no-repeat;
  background-position: center right 20px;

  &:focus {
    background-image: image-url("dashboard/Icon-SearchGrey@2x");
  }
};

#searchTable {
  border-collapse:separate;
  border-spacing: 0 5px;
  //text-align: center;
  //color: $light-blue;
  tbody {
    cursor: pointer;
  }
  th { text-align: center }
  tr:last-child td:first-child {
      -moz-border-radius-bottomleft:3px;
      -webkit-border-bottom-left-radius:3px;
      border-bottom-left-radius:3px
  }
  tr:first-child td:first-child {
      -moz-border-radius-topleft:3px;
      -webkit-border-top-left-radius:3px;
      border-top-left-radius:3px
  }

  tbody tr {
    background-color: white;
    height: 50px;
    text-align: left;
    font-size: 16px;
  }
  tbody tr td {
    padding-left:20px;
  }
  thead {
    text-align: center;
    color: white;
    background-color: $light-blue;
  }

  tr:first-child td:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px
  }

  tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px
  }
}
#searchTable_wrapper {
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.social-stats-list {
  ul {
    list-style: none;
    padding: 0 20px;
    > li {
      @extend .clearfix;
    }
    li {
      height: auto;
      border-bottom: 1px solid $dark-blue;
      padding-top: 15px;
      padding-bottom: 15px;
      .stat-header {
        font-size: 16px;
        float: left;
        margin-left: 20px;
        margin-top: 4px;
      }
      .stat-metric {
        text-align: center;
        min-width: 100px;
        padding: 6px 12px;
        margin-left: 10px;
        border-radius: 15px;
        background-color: $dark-blue;
        float: right;
      }
      .stat-image {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
#myDiagram {
  height: 609px;
  width: 800px;
}

.module-new-icon {
  height: 128px;
  width: 128px;
  background-size: 128px 128px;
  background-image: image-url('icons/add.png');
  background-size: cover;
}

.updateComponentButton {
  width: 100%;
  height: 100%;
}

#filter-btn {
  color: white;
  background-color: $light-blue;
  border: 0px;
}
table.dataTable.asset-table {
  text-align: center;
  .asset-selected {
    color: $dark-blue;
    background-color: $positive-color;
  }
  color: $light-blue;
  tbody {
    cursor: pointer;
  }
  th { text-align: center }
  tr:last-child td:first-child {
      -moz-border-radius-bottomleft:3px;
      -webkit-border-bottom-left-radius:3px;
      border-bottom-left-radius:3px
  }
  tr:first-child th:first-child {
      -moz-border-radius-topleft:3px;
      -webkit-border-top-left-radius:3px;
      border-top-left-radius:3px
  }

  tbody tr {
    background-color: white;
  }
  thead {
    text-align: center;
    color: white;
    background-color: $light-blue;
  }
  thead tr {
    text-align: center;
  }
  tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px
  }

  tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px
  }
}
.asset-table-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

#save-score-btn {
  width: 90%;
  margin-left: 20px;
}

.component-default {
  margin-top: -20px;
}

.fixedButton {
  position: absolute;
  top: 577px;
  height: 185px;
  width: 100%;
  background: $primary-border;
  //margin-left: 20px;
  //margin-right: 20px;
}
#drill-button {
  height: 88%;
}
.commands {
  position: absolute;
  border-radius: 3px;
  top: 60px;
  left: 10px;
  z-index: 20000;
  width: 170px;
  padding: 10px;
  height: 70px;
  background: #2d64a5;
}
.asset-selected {
  background-color: $positive-color;
}
.editor-alert {
  position: absolute;
  top: 60px;
  width: 100%;
  font-size: 20px;
  display: none;
  text-align: center;
  color: $positive-color;
  z-index: 10000;
}
/*
.drag-handle {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background-image: image-url("dashboard/icon-move.svg");
}
#editor {
  color: white;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 90%;
  height: 100%;
  //background-color: white;
  border-radius: 3px;
  font-family: "Avenir-Medium";
  font-weight: normal;
  font-size: 14px;
}
*/
select[disabled] {
  background-color: blue;
}
.form-control[disabled] {
  background-color: $battleship-grey;
  border-color: $battleship-grey;
}
.score-component-form {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  .dropdown-menu {
    position: static;
  }
  li {
    font-size: 20px;
  }
}
.score-component-radio {
  margin-top: -10px;
  margin-bottom: 100px;
  //padding: 20px;
  ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  ul li {
    color: $white;
    //display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    //height: 100px;
  }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }
  ul li label {
    //display: inline-block;
    position: relative;
    //font-weight: 300;
    //font-size: 1.35em;
    padding: 10px;
    font-size: 14px;
    padding-bottom: 58px;
    margin-top: 15px;
    //padding: 25px 25px 25px 80px;
    //margin: 10px auto;
    margin-left: 7px;
    margin-bottom: -5px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  ul li:hover label {
    color: #FFFFFF;
  }
  ul li .check {
    //display: inline-block;
    position: absolute;
    border: 5px solid $white;
    border-radius: 100%;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
  }
  ul li .check2 {
    //display: inline-block;
    position: absolute;
    border: 5px solid $white;
    border-radius: 100%;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
  }
  ul li:hover .check {
    border: 5px solid #FFFFFF;
  }
  ul li:hover .check2 {
    border: 5px solid #FFFFFF;
  }
  ul li .check::before {
    //display: inline-block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 1.7px;
    left: 1.9px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  ul li .check2::before {
    //display: inline-block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 1.8px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  input[type=radio]:checked ~ .check {
    border: 5px solid $positive-color;
  }
  input[type=radio]:checked ~ .check::before {
    background: $positive-color;
  }
  ul li .check2::before {
    //display: inline-block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  input[type=radio]:checked ~ .check2 {
    border: 5px solid $positive-color;
  }
  input[type=radio]:checked ~ .check2::before {
    background: $positive-color;
  }
  input[type=radio]:checked ~ label {
    color: $positive-color;
  }
}
#value-check {
  ul li .check::before {
    left: 1px;
  }
}
.goo {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}
//tr {
//  border: 1px solid $dark-blue;
//  padding: 5px;
//}
.selected.ui-sortable {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}
.tree-multiselect {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}
#editor-card {
  top: 20px;
  left: 840px;
  position: absolute;
  background-color: #2d64a5;
  border-radius: 3px;
  height: 800px;
  width: 500px;
}
#assets-card {
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: #2d64a5;
  border-radius: 3px;
  height: 800px;
  width: 800px;
}
#social-chart {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}
.large-logo {
  img {
    margin-top: 15px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.asset-nav {
  height: 40px;
}



.large-text {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.small-padding {
  padding: 20px;
}
select {
  //margin-bottom: 20px;
}
.overview-container {
  position: relative;
}

.card-metrics {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  border-top: 1px solid $light-blue;
  li {
    float: left;
    width: 33.3333333333%;
    text-align: center;
    color: $white;
    border-right: 1px solid $light-blue;
    padding: 14px 0;
    &:last-child {
      border-right: 0;
    }
    .metric {
      text-transform: uppercase;
      font-family: 'Avenir-Medium';
      font-style: 14px;
    }
    .metric-label {
      text-transform: uppercase;
      font-family: 'Avenir-Medium';
      font-size: 10px;
    }
  }
}
