/*i'm lazy and hate css, so all my shit is going in here*/

.social-stats-list {
  ul {
    list-style: none;
    padding: 0 20px;

    > li {
      @extend .clearfix;
    }

    li {
      height: auto;
      border-bottom: 1px solid $dark-blue;
      padding-top: 15px;
      padding-bottom: 15px;

      .stat-header {
          font-size: 16px;
          float: left;
          margin-left: 20px;
          margin-top: 4px;
      }

      .stat-metric {
        text-align: center;
        min-width: 100px;
        padding: 6px 12px;
        margin-left: 10px;
        border-radius: 15px;
        background-color: $dark-blue;
        float: right;
      }

      .stat-image {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
          margin-left: auto;
          margin-right: auto;
        }

      }
    }
  }

}

#myDiagram {
  height: 660px;
  width: 800px;
}
/*
.drag-handle {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background-image: image-url("dashboard/icon-move.svg");
}
#editor {
  color: white;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 90%;
  height: 100%;
  //background-color: white;
  border-radius: 3px;
  font-family: "Avenir-Medium";
  font-weight: normal;
  font-size: 14px;
}
*/
select[disabled] { background-color: blue; }

.form-control[disabled] {
  background-color: $battleship-grey;
  border-color: $battleship-grey;
}


.score-component-form {
  padding: 10px;
}
.goo {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}

tr {
  border: 1px solid $dark-blue;
  padding: 5px;
}
.selected.ui-sortable {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}

.score-component-form {
  .dropdown-menu {
  }
}


.tree-multiselect {
  color: white;
  font-family: 'Avenir-Medium';
  font-style: 14px;
}

#editor-card {
  top: 20px;
  left: 840px;
  position: absolute;
  background-color: #2d64a5;
  border-radius: 3px;
  height: 800px;
  width: 500px;
}
#assets-card {
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: #2d64a5;
  border-radius: 3px;
  height: 800px;
  width: 800px;
}

#social-chart {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}

.large-logo {
  img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.large-text {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.small-padding {
  padding: 20px;
}

select {
  margin-bottom: 20px;
}

.overview-container {
  position: relative;
}

.score-component-form {
  .dropdown-menu {
    position: static;
  }
  li {
    font-size: 20px;
  }
}
.card-metrics {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  border-top: 1px solid $light-blue;

  li {
    float: left;
    width: 33.3333333333%;
    text-align: center;
    color: $white;
    border-right: 1px solid $light-blue;
    padding: 14px 0;

    &:last-child {
      border-right: 0;
    }

    .metric {
      text-transform: uppercase;
      font-family: 'Avenir-Medium';
      font-style: 14px;
    }

    .metric-label {
      text-transform: uppercase;
      font-family: 'Avenir-Medium';
      font-size: 10px;
    }
  }
}
