/*
 *= require_self
 */

// fonts and colors
@import "partials/*";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "jscrollpane";
@import "chartist.min";

@import "nav";

@import "logged_out";
@import "company_index";
@import "dashboard";
@import "company_detail";

body {
  font-family: "Avenir-Medium";
  color: $darker-grey;
}

#main {
  padding-top: 80px;
  background: $dark-blue;
  height: 100vh;

  &.logged-out {
    background: -moz-linear-gradient(180deg, #03387a 0%, #3c88d1 100%);
    background: -webkit-linear-gradient(180deg, #03387a 0%,#3c88d1 100%);
    background: linear-gradient(180deg, #03387a 0%,#3c88d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03387a', endColorstr='#3c88d1',GradientType=1 );
  }
}

.alert {
  opacity: 0.69;
  padding: 10px 20px;
  border-radius: 0px;

  button.close {
    right: 0px;
  }
}

.btn {
  height: 40px;
  min-width: 100px;

  &.primary {
    color: rgba(153, 153, 153, 0.69);
    border: 1px solid #cccccc;
    background: -moz-linear-gradient(180deg, #ffffff 0%, #dddddd 100%);
    background: -webkit-linear-gradient(180deg, #ffffff 0%,#dddddd 100%);
    background: linear-gradient(180deg, #ffffff 0%,#dddddd 100%);

    &:hover {
      color: $white;
      border: 1px solid $primary-border;
      box-shadow: 0px 1px 0px 0px #144980;
      background: -moz-linear-gradient(180deg, #176fd0 0%, #1562b3 100%);
      background: -webkit-linear-gradient(180deg, #176fd0 0%,#1562b3 100%);
      background: linear-gradient(180deg, #176fd0 0%,#1562b3 100%);
    }
  }
}

.custom-tooltip {
  padding-top: 12px;
  width: 65px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 18px;
  color: $white;
  position: absolute;
  top: -26px;
  z-index: 99999;
  display: none;
}

.custom-tooltip-arrow {
  width: 0;
  height: 0;
  margin-left: 11px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
