.sidebar {
  width: 250px;
  height: calc(100% - 80px);
  background-color: $dark-grey;
  position: absolute;
  border-right: 1px solid #1c1c1c;

  .top {
    height: 98px;
    padding: 41px 20px 36px;
    background-color: $darkest-grey;

    &.light {
      height: 80px;
      padding-top: 31px;
      background-color: $dark-grey;

      .top-title {
        opacity: 0.4;
      }

      .bkg-bar {
        background-color: $darkest-grey;
      }
    }

    &.social {
      height: 120px;
      padding-top: 34px;
      padding-bottom: 29px
    }

    > * {
      display: inline-block;
    }

    .top-title {
      text-transform: uppercase;
      color: $white;
      font-size: 12px;
      letter-spacing: 1.5px;
    }

    .bkg-bar {
      background-color: $dark-grey;
      width: 80px;
      height: 8px;
      border-radius: 4px;
      margin-left: 15px;
      display: inline-block;
      float: right;
      margin-top: 6px;

      .custom-tooltip {
        padding-top: 12px;
        width: 65px;
        height: 50px;
        border-radius: 3px;
        text-align: center;
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 18px;
        color: $white;
        position: absolute;
        top: -20px;
        z-index: 99999;
        display: none;
      }

      .custom-tooltip-arrow {
        width: 0;
        height: 0;
        margin-left: 11px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
      }

      .fill-bar {
        width: 0px;
        height: 8px;
        border-radius: 8px;
      }
    }

    select {
      width: 210px;
      height: 30px;
      margin-top: 10px;
      background-color: #33363b;
      border: 1px solid black;
      color: white;
      font-size: 12px;
      letter-spacing: 0.5px;
      outline: none;
    }
  }
}

.dashboard {
  height: 100%;

  .sidebar {
    .module-toggle-container {
      width: 210px;
      margin: 0 auto;
      border-bottom: 1px solid rgba(28, 28, 28, 0.4);
    }

    .print-report {
      width: 210px;
      margin: 0 auto;

      ul {
        margin-top: 13px;
      }

      .gear {
        width: 20px;
        height: 21px;
        background-size: 20px 21px;
        background-repeat: no-repeat;
        float: right;
        background-image: image-url("dashboard/Icon-Settings@2x.png");
        cursor: pointer;
      }
    }

    ul, ul.toggle-list {
      margin-top: 30px;
      padding-left: 0px;
      list-style: none;

      li {
        height: 21px;
        margin-bottom: 13px;
        color: $white;
        opacity: 0.4;
        font-size: 12px;
        font-family: 'Avenir-Book';
        text-transform: capitalize;

        .toggle {
          width: 36px;
          height: 18px;
          float: right;
          border-radius: 9px;
          opacity: 0.4;
          background-color: $white;
          cursor: pointer;

          .handle {
            height: 14px;
            width: 14px;
            border-radius: 7px;
            background-color: $dark-grey;
            margin-top: 2px;
            margin-left: 20px;
          }

          &.off {
            opacity: 0.1;

            .handle {
              margin-left: 2px;
            }
          }
        }

        .icon {
          height: 21px;
          padding-top: 4px;
          padding-left: 32px;
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: left;

          &.general_financials, &.teneo_rep_score {
            background-image: image-url("dashboard/icon-general-financials.svg");
          }
          &.historical_precedent, &.insights_implications {
            background-image: image-url("dashboard/icon-historical-precedent.svg");
          }
          &.key_social_posts, &.global_hotspots {
            background-image: image-url("dashboard/icon-key-social-posts.svg");
          }
          &.likely_attackers, &.top_global_influencers {
            background-image: image-url("dashboard/icon-likely-attackers.svg");
          }
          &.notes, &.top_news {
            background-image: image-url("dashboard/icon-notes.svg");
          }
          &.risk_assessment, &.top_global_issues {
            background-image: image-url("dashboard/icon-risk-assessment.svg");
          }
          &.risk_indicators {
            background-image: image-url("dashboard/icon-risk-indicators.svg");
          }
          &.social_sentiment {
            background-image: image-url("dashboard/icon-social-sentiment.svg");
          }
          &.iss_governance {
            background-image: image-url("dashboard/Icon-ISS@2x.png");
          }
          &.print-report {
            background-image: image-url("dashboard/Icon-Print@2x.png");
          }
        }
      }
    }

  }

  .modules-box {
    position: relative;
    height: 100%;
    margin-left: 250px;
    background-color: $dark-blue;
    overflow: scroll;

    .modules-container {
      position: relative;
      height: 100%;
      width: 1280px;

      .dashboard-module {
        color: $white;
        position: absolute;
        overflow: hidden;
        width: 400px;
        height: 320px;
        background-color: $blue;
        border-radius: 3px;
        margin-bottom: 20px;
        font-size: 14px;

        &.tall {
          height: 660px;

          // .media-list-container {
          //   height: 610px;
          // }
        }

        .top {
          height: 50px;
          padding-top: 17px;
          padding-bottom: 11px;
          border-bottom: 1px solid $dark-blue;

          .drag-handle {
            width: 16px;
            height: 16px;
            float: left;
            margin-left: 20px;
            cursor: pointer;
            background-image: image-url("dashboard/icon-move.svg");
          }

          .top-title {
            font-size: 14px;
            color: $white;
            width: 382px;
            text-align: center;
          }
        }

        ul.text-list {
          height: 415px;
          overflow-x: hidden;
          overflow-y: auto;
          list-style: none;
          margin: 0px 20px 0px;

          li {
            padding: 15px 5px;
            border-bottom: 1px solid $dark-blue;

            .li-info {
              height: 30px;

              .li-image {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $darker-grey;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 15px 15px;
                background-image: image-url("login/icon-user-white.svg");
              }

              .li-name {
                float: left;
                line-height: 30px;
                margin-left: 10px;
              }

              .li-date {
                float: right;
                line-height: 30px;
                font-family: "Avenir-Book";
                font-size: 12px;
                color: $light-grey;
              }
            }

            .li-text {
              clear: both;
              margin-top: 10px;
              white-space: pre-line;
              word-wrap: break-word;
            }

            .li-attachment {
              height: 40px;
              margin-top: 10px;

              .li-attachment-download {
                float: left;
                height: 40px;
                width: 40px;
                margin-right: 5px;
                display: inline-block;
                background-color: #124c93;
                border-radius: 3px;
                cursor: pointer;
                background-image: image-url("dashboard/icon-attach.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center center;

                &:hover {
                  background-color: $dark-blue;
                }
              }

              .li-attachment-name {
                line-height: 40px;
                font-family: "Avenir-Book";
                font-size: 12px;
                color: $light-grey;
              }
            }
          }
        }

        ul.probability-list {
          list-style: none;
          margin-left: 20px;
          margin-right: 20px;

          &.short {
            height: 230px;
          }

          li {
            padding-left: 10px;
            padding-top: 23px;
            padding-bottom: 18px;
            border-bottom: 1px solid $dark-blue;

            &:last-child {
              border-bottom: none;
            }

            a {
              color: white;
              text-decoration: none;
            }

            .li-tooltip-button {
              width: 20px;
              height: 20px;
              position: relative;
              margin-right: 13px;
              float: left;
              background-size: 20px 20px;
              background-repeat: no-repeat;
              background-image: image-url("dashboard/icon-view.svg");
              cursor: pointer;
            }

            .li-right-text {
              float: right;
            }

            .li-probability-bkg {
              float: right;
              width: 100px;
              height: 4px;
              margin-top: 8px;
              margin-left: 10px;
              border-radius: 2px;
              background-color: $dark-blue;

              .li-probability-bar {
                width: 0px;
                height: 4px;
                border-radius: 2px;
              }
            }
          }
        }

        ul.media-list {
          list-style: none;
          margin-left: 20px;
          margin-right: 20px;

          &.media-list-scrollable-tall {
            height: 610px;
            overflow-y: auto;

            .jspHorizontalBar, .jspVerticalBar, .jspTrack {
                background: none repeat scroll 0 0 transparent;
            }
          }

          li {
            padding-left: 10px;
            padding-top: 23px;
            padding-bottom: 18px;
            border-bottom: 1px solid $dark-blue;

            &:last-child {
              border-bottom: none;
            }

            a {
              color: white;
              text-decoration: none;
            }

            .media-image {
              width: 50px;
              height: 50px;
              border-radius: 25px;
              float: left;
              overflow: hidden;

              img {
                width: 100%;
              }

              &.icon.file {
                border-radius: 0;
              }
            }

            .media-text {
              font-family: "Avenir-Book";
              font-size: 12px;
              margin-left: 60px;

              .media-header {
                font-size: 14px;

                &.media-header-limit-2-lines {
                  display: block;
                  display: -webkit-box;
                  max-width: 100%;
                  height: 43px;
                  margin: 0 auto;
                  line-height: 1;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }

              .media-subheader {
                font-size: 10px;
              }
            }

            .media-break-text {
              word-wrap: break-word;
            }
          }
        }
      }

      .insight-item {

        .insight-item-body {
          padding-bottom: 10px;
          // border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
        }
      }

      ul.trend-list {
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;

        li {
          height: 65px;
          padding: 20px 0;
          border-bottom: 1px solid $dark-blue;

          .trend-image {
            width: 24px;
            height: 24px;
            margin-right: 14px;
            float: left;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center center;

            &.up {
              background-image: image-url("fifa/icon-upward.svg");
            }

            &.down {
              background-image: image-url("fifa/icon-downward.svg");
            }

            &.no-change {
              background-image: image-url("fifa/icon-neutral.svg");
            }
          }

          .trend-text {
            .trend-header {
              font-size: 14px;
            }

            .trend-subheader {
              font-size: 12px;
              font-family: "Avenir-Book";
              color: $light-grey;
            }
          }

          .trend-score {
            width: 44px;
            height: 30px;
            margin-top: -4px;
            padding: 6px 12px;
            border-radius: 15px;
            background-color: $dark-blue;
            float: right;
          }
        }
      }

      .ss-placeholder-child {
        background: transparent;
        border: 2px dashed $blue;
        position: absolute;
      }
    }
  }

  .li-tooltip {
    position: absolute;
    width: 115px;
    padding: 10px 8px 12px;
    background-color: $white;
    color: #9b9b9b;
    font-size: 12px;
    font-family: "Avenir-Book";
    border-radius: 3px;
    border: 1px solid $light-grey;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

    .li-tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 26px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $white;
    }
  }
}

.dashboard-module {
  .legend {
    padding: 14px 0px 12px;
    border-bottom: 1px solid $dark-blue;
    font-size: 10px;
    text-align: center;

    .legend-item {
      display: inline-block;
      margin-right: 10px;

      .legend-point {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        float: left;
        margin-top: 3px;
        margin-right: 5px;

        &.legend-color-1 {
          background-color: $high-risk-color;
        }
        &.legend-color-2 {
          background-color: $mid-risk-color;
        }
        &.legend-color-3 {
          background-color: $low-risk-color;
        }
        &.legend-color-4 {
          background-color: $negative-color;
        }
        &.legend-color-5 {
          background-color: $neutral-color;
        }
        &.legend-color-6 {
          background-color: $positive-color;
        }
      }
    }
  }

  &#risk_assessment {
    .main {
      text-align: center;

      .risk {
        margin-top: 40px;
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 72px;
        text-transform: uppercase;
      }

      .subheader {
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .slider-bar {
        width: 300px;
        height: 12px;
        margin: 36px auto 0px;
        position: relative;
        border-radius: 6px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
        background: -moz-linear-gradient(90deg, $low-risk-color 0%, $mid-risk-color 50%, $high-risk-color 100%);
        background: -webkit-linear-gradient(90deg, $low-risk-color 0%, $mid-risk-color 50%, $high-risk-color 100%);
        background: linear-gradient(90deg, $low-risk-color 0%, $mid-risk-color 50%, $high-risk-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$low-risk-color', endColorstr='$high-risk-color',GradientType=1 );

        .slider-button {
          width: 24px;
          height: 24px;
          position: absolute;
          top: -6px;
          border-radius: 12px;
          border: 9px solid rgba(255, 255, 255, 1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }

  &#notes, &#insights_implications {
    .main {
      border-bottom: 1px solid $dark-blue;

      .new-note {
        position: absolute;
        bottom: 0px;
        margin: 17px 20px;

        .error-message {
          text-align: center;
        }

        form {
          width: 360px;

          textarea {
            width: 100%;
            height: 96px;
            padding: 12px 15px;
            margin-bottom: 10px;
            border: 1px solid $light-grey;
            border-radius: 3px;
            color: #9b9b9b;
            font-family: "Avenir-Book";
            font-size: 12px;
            box-shadow: inner 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
            resize: vertical;
          }

          .attachment {
            float: left;
            height: 40px;

            .file-input {
              height: 40px;
              font-family: "Avenir-Book";
              color: $light-grey;
              font-size: 12px;
              outline: none;
            }

            .file-input::-webkit-file-upload-button {
              visibility: hidden;
              outline: none;
              height: 40px;
              width: 40px;
              display: inline-block;
              border: none;
            }

            .file-input::before {
              content: ' ';
              height: 40px;
              width: 40px;
              padding-left: 20px;
              display: inline-block;
              background-color: #124c93;
              border-radius: 3px;
              white-space: nowrap;
              -webkit-user-select: none;
              cursor: pointer;
              background-image: image-url("dashboard/icon-attach.svg");
              background-size: 16px 16px;
              background-repeat: no-repeat;
              background-position: center center;
            }

            .file-input:hover::before {
              background-color: $dark-blue;
            }

          }

          .note-submit {
            width: 100px;
            padding: 12px 0;
            float: right;
            background-color: #124c93;
            border: none;
            border-radius: 3px;
            font-family: "Avenir-Book";
            font-size: 12px;
            outline: none;

            &:hover {
              background-color: $dark-blue;
            }

            &:disabled {
              opacity: 0.2;
              background-color: #124c93;
            }
          }
        }
      }

      .loader-bar {
        height: 2px;
        position: absolute;
        bottom: 0px;
        background-color: red;
      }
    }
  }
  &#risk_indicators {
    .main {
      ul.risk-indicator-list {
        padding-left: 0px;
      }

      .risk-indicator-list-container {
        height: 560px;
      }

      .filters {
        border-bottom: 1px solid $dark-blue;
        margin: 0 20px;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
  &#historical_precedent {
    .main {
      ul.historical-precedent-list {
        padding-left: 0px;
      }
    }
  }
  &#likely_attackers {

  }
  &#iss_governance {
    .main {
      ul.iss-governance-list {
        padding-left: 0px;
      }

      .iss-governance-list-container {
        height: 270px;
      }
    }
  }
  &#social_sentiment {
    .main {
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 28px;
      padding-bottom: 30px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;

      div:last-child {
        margin-top: 10px;
      }
    }
  }
  &#key_social_posts {

  }
  &#general_financials {
    .main {
      ul.general-financials-list {
        height: 270px;
        margin-right: 0px;
        margin-left: 0px;

        li.stock {
          width: 400px;
          padding: 10px 20px 16px;

          .left {
            .ticker {
              font-family: "Oswald";
              font-size: 42px;
            }

            .time {
              font-family: "Avenir-Book";
              font-size: 14px;
            }
          }
          .right {
            float: right;
            text-align: right;

            .price {
              font-family: "Oswald";
              font-size: 42px;

              .change-icon {
                width: 20px;
                height: 20px;
                background-image: image-url("dashboard/icon-change.svg");
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 6px;

                &.down {
                  transform: rotate(180deg);
                }
              }
            }

            .change {
              font-family: "Avenir-Book";
              font-size: 14px;
              letter-spacing: 2px;
            }
          }
        }

        li.probability-list-item {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  &#teneo_rep_score {
    .main {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 8px;
      padding-bottom: 10px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
    }
  }
  &#insights_implications {

  }
  &#global_hotspots {
    .main {
      #map {
        height: 229px;
        outline: none;
        overflow: hidden;
      }
    }
  }
  &#top_global_influencers {
    .main {
      ul.global-influencers-list {
        padding-left: 0px;
      }

      .global-influencers-list-container {
        height: 610px;
      }
    }
  }
  &#top_news {

  }
  &#top_global_issues {
    .main {
      ul.global-issues-list {
        padding-left: 0px;
      }

      .global-issues-list-container {
        height: 270px;
      }
    }
  }
}

#chartjs-tooltip {
  padding: 10px 14px;
  border: 1px solid $light-grey;
  opacity: 1;
  position: absolute;
  background: $white;
  color: #9b9b9b;
  font-family: "Avenir-Book";
  font-size: 12px;
  border-radius: 3px;
  pointer-events: none;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.filter {
  color: white;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  border-radius: 15px;
  background-color: #124c93;
  font-family: "Avenir-Book";
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  opacity: 0.4;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    opacity: 1.0;
  }

  &.asc .caret {
    transform: rotate(180deg);
  }
}
