#navbar {
  background-color: $white;
  height: 80px;
  padding: 20px 40px;
  border-bottom: 1px solid #e7e7e7;

  & > div {
    line-height: 40px;
  }

  .nav-brand {
    font-size: 24px;

    a {
      &:hover, &:active, &:visited {
        text-decoration: none;
        color: $darker-grey;
      }
    }
  }

  .nav-center {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;

    .company-select {
      min-width: 140px;
      height: 40px;
      padding: 0px 10px;
      display: inline-block;
      color: $darker-grey;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background: -moz-linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
      background: -webkit-linear-gradient(180deg, #ffffff 0%,#f4f4f4 100%);
      background: linear-gradient(180deg, #ffffff 0%,#f4f4f4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=1 );
    }

    .dropdown-menu {
      margin: 25px auto;
      width: 240px;
      right: 0px;
      left: 0px;
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

  }

  .nav-user {
    li a {
      padding-top: 0px;

      &:focus, &:hover, &:active {
        background-color: transparent;
      }

      > * {
        float: right;
      }
    }

    .nav-user-name {
      margin-top: 10px;
      margin-right: 10px;
    }

    .nav-user-image {
      width: 50px;
      height: 50px;
      margin-top: -5px;
      border-radius: 50%;
      background-color: $darker-grey;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: image-url("login/icon-user-white.svg");
    }
  }

  .dropdown-menu {
    border-radius: 3px;
    margin-top: 20px;

    li {
      a {
        cursor: pointer;
        white-space: inherit;

        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }
}

