#navbar {
  background-color: $white;
  height: 80px;
  padding: 20px 40px;

  & > div {
    line-height: 40px;
  }

  .nav-brand {
    font-size: 24px;
  }

  .nav-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
  }

  .nav-user {
    li a {
      padding-top: 0px;

      &:focus, &:hover, &:active {
        background-color: transparent;
      }

      > * {
        float: right;
      }
    }

    .nav-user-name {
      margin-top: 10px;
      margin-right: 10px;
    }

    .nav-user-image {
      width: 50px;
      height: 50px;
      margin-top: -5px;
      border-radius: 50%;
      background-color: $darker-grey;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: image-url("login/icon-user-white.svg");
    }

    .dropdown-menu {
      border-radius: 3px;
      margin-top: 20px;
    }
  }
}
