<div onload="init()" id="main">
    <nav id="navbar" class="nav navbar-default navbar-fixed-top">
      <div class="nav-center">
        <div>
          <h3>APT</h3>
          <p>Score Builder</p>
        </div>
      </div>
      <div class="nav navbar-nav navbar-left nav-brand">
        <a class href="#">Teneo</a>
      </div>
      <ul class="nav navbar-nav navbar-right nav-user">
        <li>
          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="nav-user-image" ><span class="user-icon" ></span></div>
            <div class="nav-user-name" >David Fioretti</div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="user-dropdown" data-reactid=".0.0.1.1.0.1"><li data-reactid=".0.0.1.1.0.1.0:@0"><a class=" active" href="/fifa/dashboard" data-reactid=".0.0.1.1.0.1.0:@0.0">Fifa</a></li><li data-reactid=".0.0.1.1.0.1.0:@1"><a class="" href="/ews/choose_company" data-reactid=".0.0.1.1.0.1.0:@1.0">Ews</a></li><li role="separator" class="divider" data-reactid=".0.0.1.1.0.1.1"></li><li data-reactid=".0.0.1.1.0.1.2"><a data-reactid=".0.0.1.1.0.1.2.0">Sign out</a></li></ul>
        </li>
      </ul>
    </nav>
    <div class="dashboard">
      <div class="sidebar">
        <div class="top social" data-reactid=".0.2.0.1"><div class="top-title" data-reactid=".0.2.0.1.0">Social Scorecard</div><div class="pull-right" data-reactid=".0.2.0.1.1"><div id="sidebar-tooltip" class="up custom-tooltip" data-reactid=".0.2.0.1.1.0" style="display: none;"><div class="overall-trend-score" data-reactid=".0.2.0.1.1.0.0"><span data-reactid=".0.2.0.1.1.0.0.0">2.8</span></div><div class="custom-tooltip-arrow" data-reactid=".0.2.0.1.1.0.1"></div></div><div class="trend-image up" data-reactid=".0.2.0.1.1.1"></div></div><div class="range-select" data-reactid=".0.2.0.1.2"><div data-reactid=".0.2.0.1.2.0"><input type="text" name="dashboardDateRangePicker" value="Range: 01/15/16-02/18/16" readonly="" data-reactid=".0.2.0.1.2.0.0"></div></div></div>
        <div data-reactid=".0.2.0.4"><div class="module-toggle-container" data-reactid=".0.2.0.4.0"><ul class="toggle-list" data-reactid=".0.2.0.4.0.0"><li data-reactid=".0.2.0.4.0.0.@teneo_rep_score"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@teneo_rep_score.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@teneo_rep_score.0.0"></div></div><div class="icon teneo_rep_score" data-reactid=".0.2.0.4.0.0.@teneo_rep_score.1">teneo rep score</div></li><li data-reactid=".0.2.0.4.0.0.@insights_implications"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@insights_implications.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@insights_implications.0.0"></div></div><div class="icon insights_implications" data-reactid=".0.2.0.4.0.0.@insights_implications.1">insights implications</div></li><li data-reactid=".0.2.0.4.0.0.@global_hotspots"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@global_hotspots.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@global_hotspots.0.0"></div></div><div class="icon global_hotspots" data-reactid=".0.2.0.4.0.0.@global_hotspots.1">global hotspots</div></li><li data-reactid=".0.2.0.4.0.0.@top_global_influencers"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@top_global_influencers.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@top_global_influencers.0.0"></div></div><div class="icon top_global_influencers" data-reactid=".0.2.0.4.0.0.@top_global_influencers.1">top global influencers</div></li><li data-reactid=".0.2.0.4.0.0.@top_news"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@top_news.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@top_news.0.0"></div></div><div class="icon top_news" data-reactid=".0.2.0.4.0.0.@top_news.1">top news</div></li><li data-reactid=".0.2.0.4.0.0.@top_global_issues"><div class="toggle on" data-reactid=".0.2.0.4.0.0.@top_global_issues.0"><div class="handle" data-reactid=".0.2.0.4.0.0.@top_global_issues.0.0"></div></div><div class="icon top_global_issues" data-reactid=".0.2.0.4.0.0.@top_global_issues.1">top global issues</div></li></ul></div><div class="print-report" data-reactid=".0.2.0.4.1"><ul data-reactid=".0.2.0.4.1.0"><li data-reactid=".0.2.0.4.1.0.0"><div class="gear" data-reactid=".0.2.0.4.1.0.0.0"></div><div class="icon print-report" data-reactid=".0.2.0.4.1.0.0.1">Print Report</div></li></ul></div></div>
      </div>
      <div class="modules-box">
        <div id="myDiagram"></div>
        <div id="editor-card">
          <div style="height: 50px; color: white; border-bottom: 1px solid #03387a;">
            <div class="drag-handle ui-draggable-handle" style="margin-top: 16px;" data-reactid=".0.2.1.0.$risk_assessment.0.0"></div>
            <div class="top-title" style="font-size: 14px; padding-top: 14px; margin-left: 57px; color: #ffffff;" #data-reactid=".0.2.1.0.$risk_indicators.0.1">Component Builder</div>

          </div>
          <div id="editor">
  <!--fieldset>
    <legend>Component Editor</legend>
    <label>Label name</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn">Submit</button>
  </fieldset-->
              <div class="form-group">
                Component Name
                <div style="height: 5px;"></div>
                <input type="text" class="form-control" placeholder="Component Name" />
                <br />
                  Asset Set
                <div style="height: 5px;"></div>
                  <select class="form-control" id="sel1">
                    <option>Asset Set 1</option>
                    <option>Asset Set 2</option>
                    <option>Asset Set 3</option>
                    <option>Asset Set 4</option>
                  </select>
                  <br />
                  Value Type
                <div style="height: 5px;"></div>
                  <select style="padding-top:2x;"class="form-control" id="sel1">
                    <option>Raw</option>
                    <option>Normalized</option>
                  </select>
                  <br />
                  Component Weight
                  <div style="height: 5px;"></div>
                  <input type="text" class="slider" value="" style="width: 100%;" />
                  <br /><br />
                  Normalization Set
                  <div style="height: 5px;"></div>
                  <select disabled class="form-control" id="sel1">
                    <option>All</option>
                  </select>
                  <br />
                  Normalization Technique
                  <div style="height: 5px;"></div>
                  <select disabled class="form-control" id="sel1">
                    <option>None</option>
                  </select>
                  <br />
                  Operation
                  <div style="height: 5px;"></div>
                  <select class="form-control" id="sel1">
                    <option>+</option>
                    <option>-</option>
                    <option>*</option>
                    <option>/</option>
                  </select>
              </div>
          </div>
        </div>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
      </div>
  </div>
     <div class="weird-go-stuff" style="display:none;">
      <div>
      	<button id="SaveButton" onclick="save()">Write</button>
        	<button onclick="load()">Read</button>
        	Diagram Model saved in JSON format:
      </div>
      <textarea id="mySavedModel" style="width:100%;height:250px">
        { "class": "go.TreeModel",
          "nodeDataArray":
		      [
        	  {"key":"1", "name":"Stella Payne Diaz", "title":"CEO"},
        		{"key":"2", "name":"Luke Warm", "title":"VP Marketing/Sales", "parent":"1"}
          ]
        }
      </textarea>
    </div>
</div>
